@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  @apply text-black dark:text-[#7e9cb0] rounded-md;
  float: left;
  padding: 8px 15px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 0 4px;
}

.pagination a.active {
  @apply bg-[#eef2ff] text-[#536ced]
}

.pagination a:hover:not(.active) {
  @apply bg-gray-100 text-[#6b7280]
}

input, textarea, select {
  @apply border-2 border-gray-300 rounded w-full px-1;
  @apply mb-3
}

input:focus, textarea, select:focus {
  @apply border-blue-900;
}

h1 {
  @apply text-green-800 mb-2 text-xl;
}

label {
  @apply text-green-700;
}

.btn-primary {
  @apply bg-green-800 text-white px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full
}

table.basic tr, td {
  @apply border border-gray-500 p-1
}

table.basic thead tr th {
  @apply border border-gray-500 p-1
}

table.basic thead {
  @apply bg-gray-400
}

/* table.basic td {
  @apply text-center
} */

table.basic a {
  @apply bg-green-900 text-sm text-white px-2 p-1 rounded-md inline-flex
}

.btn_yes {
  @apply px-4 py-1 bg-green-500 rounded-md
}

.btn_no {
  @apply px-4 py-1 bg-red-600 rounded-md text-white
}